.dark {
  background-color: #000000;
}

.dark td {
  color: white;
}
.dark th {
  color: white;
}
.dark p {
  color: white;
}
.dark h2 {
  color: white;
}

.dark .Explore {
  color: red;
}
.dark h4 {
  color: white;
  font-style: italic;
}

.dark h3 {
  color: white;
}
.dark .cards {
  background-color: #171d3f;
}

.dark #skill {
  background-color: #455a64;
}

.dark .nav_bar {
  background-color: black;
}

.dark h6 {
  color: black;
}

.theme-btn {
  margin-left: auto;
}
