@media screen and (max-width: 640px) {
  .spinner {
    display: block;
    margin-top: 80%;
    margin-left: 40%;
  }
}

@media screen and (max-width: 1007px), screen and(min-width:641px) {
  .spinner {
    display: block;
    margin-top: 50%;
    margin-left: 45%;
  }
}

@media screen and (min-width: 1008px), screen and(max-width:1366px) {
  .spinner {
    display: block;
    margin-top: 29%;
    margin-left: 47%;
  }
}

@media screen and (min-width: 1367px), screen and(max-width:1920px) {
  .spinner {
    display: block;
    margin-top: 20%;
    margin-left: 47%;
  }
}
